@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&family=Cabin&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
}
h1 {
  color: rgb(43, 43, 43);
}
.navbar {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 150px;
  padding-right: 150px;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.header-background h1 {
  color: white;
}

.header-background form {
  display: flex;
  margin-top: 30px;
}

.form-control {
  padding: 5px;
  display: block;
  margin-left: 10px;
  border: none;
  box-shadow: 2px 2px blueviolet;
  border-radius: 10px;
  padding: 10px;
}

.form-control:focus {
  outline: none;
}

option {
  padding: 10px;
}

.form-control option:hover {
  background-color: blueviolet;
}

.submit-btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.home-pet {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.home-pet:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.pet-img-container {
  flex: 1;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
}

.second-h1 {
  margin-top: 10px;
  text-align: center;
}

.loader {
  text-align: center;
  animation: loading 2s linear infinite;
  font-size: 30px;
  display: inline-block;
  margin-top: 30px;
}

.loader-container {
  text-align: center;
  padding-top: 200px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.plan-container {
  margin-top: 100px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
}

.plan-row {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.plan-col {
  background-color: blueviolet;
  color: white;
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;
}

.plan-col p {
  margin-top: 10px;
  font-size: 15px;
  color: gainsboro;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.pagination li a {
  cursor: pointer;
  color: blueviolet;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid blueviolet;
  margin: 0 4px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.pagination li a:hover {
  color: white;
  background-color: blueviolet;
}

.articles-container {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 100px;
  align-items: center;
}

.article1,
.article2,
.article3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 280px;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  margin-top: 20px;
}
.article1:hover,
.article2:hover,
.article3:hover {
  opacity: 0.9;
}
.article-description {
  margin-top: 300px;
  position: absolute;
  bottom: 0;
  color: white;
}
.article-description h2 {
  margin-bottom: 10px;
}
.article-description p {
  margin-bottom: 40px;
}
.article-description a {
  text-decoration: none;
  background-color: blueviolet;
  padding: 15px;
  color: white;
  border-radius: 20px;
}

.article1 {
  background-image: url("../src/assets/article1.jpg");
}

.article2 {
  background-image: url("../src/assets/article2.jpg");
}

.article3 {
  background-image: url("../src/assets/article3.jpg");
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(132, 0, 255);
  color: white;
  margin-top: 109px;
}

.detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-img-container {
  margin-left: 100px;
  margin-top: 30px;
  text-align: center;
}
.detail-text-container {
  margin-left: 100px;
  margin-top: 30px;
}
.detail-pet {
  width: 300px;
  height: 400px;
  margin-top: 30px;
  border-radius: 20px;
}
.adopt-btn {
  background-color: blueviolet;
  border-radius: 20px;
  padding: 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-top: 30px;
}

.c-image {
  width: 150px;
  height: 200px;
  margin-top: 30px;
  border-radius: 20px;
}

.carousel-smaller img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

.adoption-btn {
  text-align: center;
}

.modal-content p {
  font-size: 25px;
}

.adoption-btn button {
  background-color: blueviolet;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 13px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile Responsive */

@media screen and (max-width: 869px) {
  .detail-container {
    flex-direction: column;
  }

  .detail-img-container {
    margin-left: 0px;
  }
  .detail-text-container p {
    width: auto !important;
  }
  .detail-text-container {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-background form {
    flex-direction: column;
  }
  .header-background {
    justify-content: left;
    align-items: start;
    text-align: left;
  }
  .header-background h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: blueviolet;
  }
  .header-background p {
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(129, 69, 185);
  }
  .form-control {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .submit-btn {
    padding: 15px;
    margin-left: 0px;
    margin-bottom: 50px;
    display: block;
    width: 100px;
  }

  label {
    text-align: left;
  }

  .img-container {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .pagination {
    display: block;
  }
  .main-pagination {
    display: block;
    margin-top: 0px;
  }
  .home-pet {
    padding-left: 10px;
  }
  .plan-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plan-container h1 {
    margin-top: 150px;
  }
  .plan-row {
    flex-direction: column;
  }
  .plan-col {
    margin-top: 10px;
  }
  .articles-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }

  .article1,
  .article2,
  .article3 {
    height: 300px;
    width: 250px;
    margin-top: 50px;
  }
}
